body {
  background-color: #f6fafd;
  margin: 0;
  height: 130vh;
  display: flex;
  align-items: center;
}

.container {
  border-radius: 16px;
  background-color: #fff;
  width: 620px;
  font-family: Roboto;
  margin: 0 auto;
}

.content {
  padding: 24px 16px 22px;
}

.container .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.container .header .notifications {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container .header span.notification-text {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.container .header span.notification-number {
  color: #dde7ee;
  font-size: 18px;
  font-weight: 400;
  background-color: #0a317b;
  border-radius: 8px;
  padding: 2px 9px;
}

.container .header .notification-btn {
  color: #5e6778;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.container .header .notification-btn:hover {
  cursor: pointer;
}

.content .comment {
  gap: 16px;
  padding: 15px 0px 15px 16px;
  display: flex;
  background-color: #f7fafd;
  margin-bottom: 16px;
  align-items: center;
}

.content .comment.comment-read {
  background-color: #fff;
}

.content .comment .comment-content {
  font-size: 14px;
  line-height: 18.2px;
}

.comment.comment-read.show-comment {
  position: relative;
  padding-bottom: 103px;
}

.content .comment .comment-time {
  color: #939dae;
}

.content .comment .box-comment {
  color: #5e6778;
  padding: 16px 17px;
  border-radius: 4.8px;
  border: 1px solid #e5effa;
  position: absolute;
}

.content .comment .comment-time.message {
  margin-bottom: 7px;
}

img.commented-photo {
  margin-left: 189px;
}

.content .comment .comment-content span.comment-name {
  font-weight: 700;
  color: #1c202b;
}

.content .comment .comment-content span.interactive-content {
  font-weight: 400;
  color: #5e6778;
}

.content .comment .comment-content span.post-content {
  font-weight: 700;
}

.content .comment .comment-content span.notification-icon {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background-color: #f65351;
  border-radius: 10px;
}

/* Các thông báo chưa đọc có màu nền #0A317B */
.unread {
  background-color: #0a317b;
  color: white;
}
/* Các thông báo đã đọc có màu nền #F7FAFD */
.read {
  background-color: #f7fafd;
}
@media screen and (max-width: 768px) {
  img.commented-photo {
    margin-left: 0;
  }
}
